:root {

  /* PRIMARY */  
  --dv-color-primary-light: #004CD8;
  --dv-color-primary: #0041BE;

  /* DANGER */
  --dv-color-danger: #FF2222;

  /* GRAY */
  --dv-color-gray-lightest: #F9FBFD;
  --dv-color-gray-lighter: rgba(196,196,196, 0.35);
  --dv-color-gray-light: #B8B7B7;
  --dv-color-gray: #767684;
  --dv-color-gray-dark: #09090A;
}