.dv-button {
  font-family: var(--dv-font-family-base);
  background: var(--dv-color-primary);
  color: white;
  font-size: calc(var(--dv-font-size-base) + 8px);
  font-weight: 800;
  padding: 20px;
  border-radius: 50px;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.5s;
}

.dv-button:hover {
  background-color: var(--dv-color-primary-light);
}