.dv-header {
  height: var(--dv-header-size);
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

.dv-header >.wrapper {
  max-width: var(--dv-main-wrapper);
  margin: 0 auto;    
  display: flex;
  justify-content: center;
}

.dv-header >.wrapper >.image-wrapper {
  height: var(--dv-header-size);
  padding: 16px 0;
}

.dv-header >.wrapper >.image-wrapper >.image {
  height: 100%;
}