.dv-list >.dv-wrapper >.main-content >.title-button {
  margin-top: 70px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dv-list >.dv-wrapper >.main-content >.title-button >.title {
  font-size: calc(var(--dv-font-size-base) + 30px);
  font-weight: 700;
}

.dv-list >.dv-wrapper >.main-content >.tittle-button >.button-wrapper {
  
}

.dv-list >.dv-wrapper >.main-content >.table-wrapper {
  margin-top: 32px;
}