.dv-project-create-edit >.dv-wrapper >.main-content >.left >.main-title {
  font-size: calc(var(--dv-font-size-base) + 32px);
  font-weight: 600;
  max-width: 900px;
  margin-bottom: 45px;
}

.dv-project-create-edit >.dv-wrapper >.main-content >.left {
  margin: auto;
} 

.dv-project-create-edit >.dv-wrapper >.main-content >.left >.dv-button {
  margin-top: 40px;
} 